/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*HEADER*/

/* Logo +menu*/

.list-header ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 68px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} /*first part of the header*/


#logo {
    width: 61px;
    height: 19px;
}

.list-header a:hover {
    border-top: 2px solid #0065FC;
    padding-top:  20px;
    color: #0065FC;
}

/* Tittle+ Search bar*/

.headline h1 {
    margin-bottom: 0;
} /* big title*/

.headline p {
    margin-top: 8px;
    margin-bottom: 35px;
} /*smallest title*/

.search-bar {
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
    margin-bottom: 15px;
    margin-top: 0px;
}


.icon-location {
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    
}

.icon-location i {
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: black
}

#text {
    border: 1px solid #F2F2F2;
    font-weight: bold;
    padding: 15px;
} /* default text in search bar*/

button {
    color: white;
    background-color: #0065FC;
    display: flex;
    padding: 15px 16px;
    align-items: center;
    gap: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
} /*button "Rechercher"*/


/* Section filter*/
.icon-filter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 50px;
}

.money, .person, .heart, .fire {
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    font-weight: bold;
} /* different icons of the filters section*/

.icon:hover {
    background-color: #DEEBFF;
} 

.filter-bar {
    display: flex;
    flex-direction: row;
    align-items:  center;
    margin-top: 0px;
}


.infobar{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements-title h2 {
    margin-top: 0;
}

.hebergements {
    width: 65%;
}


.hebergements-cards img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px;
}

.hebergements-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.hebergements-cards .card {
    width: 250px;
}

.hebergements-cards .card-title {
    margin: 0;
    margin-left: 10px;
}

.hebergements-cards .card-rating {
    margin-left: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 8px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Activités*/

.activities-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}

.activities-cards .card {
    width: 298px;
    height: 439px;
    padding: 0px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activities-cards img {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.activities-title {
    margin-top: 65px;
    margin-bottom: 30px;
}

.activities-cards .card-title {
    margin: 19px;
}

/*FOOTER*/
footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.section{
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-left: 20px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card {
        width: 260px;
        height: 192px;
        padding-bottom: 15px;
    
    }

    .hebergements-cards img {
        width: 100%;
        height: 124px;
    }

    
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }
    
    .populaires-cards .card {
        height: 136px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    
    .activities-cards {
        width: 100%;
    }
    .activities-cards .card {
        width: 194px;
        height: 270px;
    }

    .activities-cards img{
        width: 100%;
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}